{
  "extends": "plugin:react/recommended",
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": 0,
    "jsx-a11y/href-no-hash": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": true,
        "printWidth": 120,
        "semi": false,
        "tabWidth": 2
      }
    ]
  },
  "plugins": ["babel", "prettier", "react"],
  "env": {
    "jest": true
  }
}